<h1>Admin::Dashboard#show</h1>

<div>There are currently <%= @categories %> categories of products.</div>
<div>We have a selection of <%= @num_products %> products available for purchase.</div>
<div><a href = "/admin/categories"> View categories </a></div>
<div><a href = "/admin/products"> View catalogue </a></div>




